-#  This file is app/views/movies/index.html.haml
= render_breadcrumbs :separator => ' / '
%h1
  %span
    All Movies
    %a.btn.btn-primary.pull-right{href: new_movie_path}
      %i.fa.fa-plus
      Add new movie

%div.table-responsive
  %table#movies.table.table-bordered.table-hover.table-striped
    %thead
      %tr
        %th No.
        %th
          %a{href: sort_path('title')}
            Movie Title
        %th
          %a{href: sort_path('rating')}
            Rating
        %th
          %a{href: sort_path('release_date')}
            Release Date
        %th More Info
    %tbody
      = render :partial => 'movie', :collection => @movies
