= render_breadcrumbs :separator => ' / '

%h2 Create New Movie
%hr

= form_tag movies_path, :method => :post, class: 'form-horizontal' do
  
  = render :partial => 'movie_form'

  %div.form-group
    %div.col-sm-3
    %div.col-sm-9
      = submit_tag 'Save Changes', class: 'btn btn-success btn-sm'
