%div#navbar-full
  %div#navbar
    %nav.navbar.navbar-ct-orange.navbar-fixed-top{"role" => "navigation"}
      %div.container
        %div.navbar-header
          %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.navbar-brand-logo{href: root_path}
            %div.logo
              = image_tag "rottentobaccoLogo.jpg"
            %div.brand
              RottenTobacco
        %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{href: "javascript:void(0)", "data-toggle" => "search"}
                %i.fa.fa-search.fa-5x
                %p= "Search"
            -# %li
            -#   %a{href: "#"}
            -#     %i.pe-7s-mail
            -#       %span.label= 23
            -#     %p= "Message"
            - if @current_user
              %li.dropdown
                %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
                  %i.fa.fa-user
                  %p= "#{@current_user.name}"
                %ul.dropdown-menu
                  %li
                    %a{href:logout_path}
                      %i.fa.fa-sign-out
                      Logout
            - else
              %li
                %a.btn.btn-twitter.navbar-btn{href: login_twitter_path}
                  %i.fa.fa-twitter
                  Login with Twitter
              %li
                %a.btn.btn-facebook.navbar-btn{href: login_facebook_path}
                  %i.fa.fa-facebook-official
                  Login with Facebook
          %form.navbar-form.navbar-right.navbar-search-form{"role" => "search"}
            %div.form-group
              %input.form-control{"type" => "text", "placeholder" => "Search..."}    

    -#%div.blurred-container
      -#%div.img-src